<!--==========================
Header
============================-->
<header id="header" class="fixed-top">
  <div class="container">

    <div class="logo float-left">
      <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="scrollto"><img src="assets/img/logo1.png" alt="Argentina Programa" class="img-fluid"></a>
      <a href="https://exa.unne.edu.ar/r/" class="scrollto"><img src="assets/img/logo2.png" alt="Ministerio" class="img-fluid"></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="#intro">Inicio</a></li>
        <li><a href="#about">Nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#portfolio">Blog</a></li>
        <li><a href="#team">Equipo</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </nav><!-- .main-nav -->
    
  </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
  <div class="container">

    <div class="intro-img">
      <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
    </div>

    <div class="intro-info">
      <h2>¡Brindamos<br><span>soluciones</span><br>para tu negocio!</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Conocenos</a>
        <a href="#services" class="btn-services scrollto">Nuestros Servicios</a>
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">