<main id="main">
  <!--==========================
      About Us Section
    ============================-->
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Nosotros</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </header>

      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">
              Et harum quidem rerum facilis est et expedita distinctio. Nam
              libero tempore, cum soluta nobis est eligendi
            </p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-photo"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat tarad limino ata
            </p>
          </div>
        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="assets/img/about-img.svg" class="img-fluid" alt="" />
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>
            Voluptatem dignissimos provident quasi corporis voluptates sit
            assumenda.
          </h4>
          <p>
            Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati
            possimus ea. Quas molestiae perspiciatis occaecati qui rerum.
            Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae
            non ad at et a.
          </p>
          <p>
            Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit
            qui asperiores ea corporis deserunt veritatis quidem expedita
            perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum
            eum eum.
          </p>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img src="assets/img/about-extra-2.svg" class="img-fluid" alt="" />
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>
            Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora
            facere reprehenderit.
          </h4>
          <p>
            Delectus alias ut incidunt delectus nam placeat in consequatur. Sed
            cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque
            fugit earum est quam officiis numquam. Ducimus corporis autem at
            blanditiis beatae incidunt sunt.
          </p>
          <p>
            Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas
            mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae
            debitis. Dolorem cupiditate est perferendis iusto.
          </p>
          <p>
            Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint
            quia modi. Numquam est aut fuga mollitia exercitationem nam
            accusantium provident quia.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- #about -->

  <!--==========================
      Services Section
    ============================-->
  <section id="services" class="section-bg">
    <div class="container">
      <header class="section-header">
        <h3>Servicios</h3>
        <p>
          Laudem latine persequeris id sed, ex fabulas delectus quo. No vel
          partiendo abhorreant vituperatoribus.
        </p>
      </header>

      <div class="row">
        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-analytics-outline" style="color: #ff689b"></i>
            </div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon">
              <i class="ion-ios-bookmarks-outline" style="color: #e9bf06"></i>
            </div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">
              Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat tarad limino ata
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-delay="0.1s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-paper-outline" style="color: #3fcdc7"></i>
            </div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur
            </p>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-5 wow bounceInUp"
          data-wow-delay="0.1s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-speedometer-outline" style="color: #41cf2e"></i>
            </div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #services -->

  <!--==========================
      Portfolio Section
    ============================-->
  <section id="portfolio" class="clearfix">
    <div class="container">
      <header class="section-header">
        <h3 class="section-title">Blog</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque,
          facere vero sed optio illum minus!
        </p>
      </header>

      <div class="card mb-3 wow bounceInUp" style="max-width: 767px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/img/portfolio/web1.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title h3">
                Nulla lorem enim, tincidunt at ante vitae.
              </h5>
              <p class="card-text">
                Fusce est lectus, finibus ut augue quis, dictum malesuada
                mauris. Donec sodales metus non velit dignissim luctus. Etiam
                convallis lorem nec metus pulvinar, non iaculis velit bibendum.
                Maecenas sit amet molestie ex, imperdiet suscipit enim.
                Suspendisse potenti. Ut et magna eget felis tristique convallis.
                Vestibulum erat risus, sagittis ac ultricies quis, suscipit vel
                nibh.
              </p>
              <a
                class="btn btn-primary btn-sm justify-content-md-start"
                href="#"
                role="button"
                >Leer mas</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 wow bounceInUp" style="max-width: 767px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/img/portfolio/card3.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title h3">Nullam efficitur diam non diam.</h5>
              <p class="card-text">
                Proin dictum quam sed nulla vulputate sodales. Fusce sit amet
                commodo massa. Suspendisse quis leo vel nibh rhoncus placerat
                quis auctor orci. Aliquam a bibendum odio, eget dignissim est.
                Aliquam imperdiet semper tincidunt. Sed mattis ligula lectus, ut
                dictum dui porttitor at.
              </p>
              <a
                class="btn btn-primary btn-sm justify-content-md-start"
                href="#"
                role="button"
                >Leer mas</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 wow bounceInUp" style="max-width: 767px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/img/portfolio/blog1.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title h3">Nam vel sem vitae lectus.</h5>
              <p class="card-text">
                Praesent in tortor vel lacus vestibulum volutpat quis quis
                velit. Duis facilisis nisl sit amet bibendum consectetur. Aenean
                massa sapien, maximus ac lorem in, laoreet cursus nibh. Integer
                volutpat, turpis sit amet imperdiet fringilla, magna ex lobortis
                ligula, congue scelerisque dolor lacus non odio. Ut iaculis
                accumsan justo in pellentesque.
              </p>
              <a
                class="btn btn-primary btn-sm justify-content-md-start"
                href="#"
                role="button"
                >Leer mas</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #portfolio -->

  <!--==========================
      Clients Section
    ============================-->
  <section id="testimonials" class="section-bg">
    <div class="container">
      <header class="section-header">
        <h3>Testimonios</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="owl-carousel testimonials-carousel wow fadeInUp">
            <div class="testimonial-item">
              <img
                src="assets/img/testimonial-1.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Saul Goodman</h3>
              <h4>CEO &amp; Fundador</h4>
              <p>
                Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              </p>
            </div>

            <div class="testimonial-item">
              <img
                src="assets/img/testimonial-2.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Sara Wilsson</h3>
              <h4>Diseñadora</h4>
              <p>
                Export tempor illum tamen malis malis eram quae irure esse
                labore quem cillum quid cillum eram malis quorum velit fore eram
                velit sunt aliqua noster fugiat irure amet legam anim culpa.
              </p>
            </div>

            <div class="testimonial-item">
              <img
                src="assets/img/testimonial-3.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Jena Karlis</h3>
              <h4>Propietaria de tiendas</h4>
              <p>
                Enim nisi quem export duis labore cillum quae magna enim sint
                quorum nulla quem veniam duis minim tempor labore quem eram duis
                noster aute amet eram fore quis sint minim.
              </p>
            </div>

            <div class="testimonial-item">
              <img
                src="assets/img/testimonial-4.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                multos export minim fugiat minim velit minim dolor enim duis
                veniam ipsum anim magna sunt elit fore quem dolore labore illum
                veniam.
              </p>
            </div>

            <div class="testimonial-item">
              <img
                src="assets/img/testimonial-5.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>John Larson</h3>
              <h4>Emprendedor</h4>
              <p>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam enim culpa labore duis sunt culpa
                nulla illum cillum fugiat legam esse veniam culpa fore nisi
                cillum quid.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #testimonials -->

  <!--==========================
      Seccion Equipo
    ============================-->
  <section id="team">
    <div class="container">
      <div class="section-header">
        <h3>Equipo</h3>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque
        </p>
      </div>

      <!-- <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="assets/img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> -->

      <div class="card-group text-center .bg">
        <div class="card border-0 wow fadeInUp mx-3">
          <img
            src="assets/img/team-1.jpg"
            class="img-fluid rounded-circle"
            alt="Responsive image"
          />
          <div class="card-body">
            <h5 class="card-title">David C. Fitzpatrick</h5>
            <p class="card-text">
              Director General<br />
              CEO
            </p>
          </div>
        </div>
        <div class="card border-0 wow fadeInUp mx-3" data-wow-delay="0.1s">
          <img
            src="assets/img/team-2.jpg"
            class="img-fluid rounded-circle"
            alt="Responsive image"
          />
          <div class="card-body">
            <h5 class="card-title">Paulina Prieto</h5>
            <p class="card-text">Director de Operaciones</p>
          </div>
        </div>
        <div class="card border-0 wow fadeInUp mx-3" data-wow-delay="0.2s">
          <img
            src="assets/img/team-3.jpg"
            class="img-fluid rounded-circle"
            alt="Responsive image"
          />
          <div class="card-body">
            <h5 class="card-title">Miguel Ángel Rossi</h5>
            <p class="card-text">
              Director de Tecnologia<br />
              CTO
            </p>
          </div>
        </div>
        <div class="card border-0 wow fadeInUp mx-3" data-wow-delay="0.3s">
          <img
            src="assets/img/team-4.jpg"
            class="img-fluid rounded-circle"
            alt="Responsive image"
          />
          <div class="card-body">
            <h5 class="card-title">Alessandra Ramos</h5>
            <p class="card-text">Director Financiero</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #team -->

  <!--==========================
      Clients Section
    ============================-->
  <section id="clients" class="section-bg">
    <div class="container">
      <div class="section-header">
        <h3>Nuestros clientes</h3>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque dere santome nida.
        </p>
      </div>

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/client-1.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/client-2.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/client-3.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/client-4.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/client-5.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/client-6.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/client-7.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img
              src="assets/img/clients/client-8.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact">
    <div class="container-fluid">
      <div class="section-header">
        <h3>Contacto</h3>
      </div>

      <div class="row wow fadeInUp">
        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d821.1007015222784!2d-58.40253933035389!3d-34.59397449431758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc765c7065319%3A0xa2cc7d1e6f78f548!2sAv.%20Pueyrred%C3%B3n%201445%2C%20C1118AAE%20CABA!5e0!3m2!1ses-419!2sar!4v1688598583813!5m2!1ses-419!2sar"
              frameborder="0"
              style="border: 0; width: 100%; height: 312px"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-5 info">
              <i class="ion-ios-location-outline"></i>
              <p>Av Pueyrredón 1441, CABA, C1118AAE</p>
            </div>
            <div class="col-md-4 info">
              <i class="ion-ios-email-outline"></i>
              <p>info@example.com</p>
            </div>
            <div class="col-md-3 info">
              <i class="ion-ios-telephone-outline"></i>
              <p>011 4822-1228</p>
            </div>
          </div>

          <div class="form">
            <div id="sendmessage">Su mensaje ha sido enviado. Gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Nombre"
                    data-rule="minlen:4"
                    data-msg="Por favor ingrese al menos 4 caracteres"
                  />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Email"
                    data-rule="email"
                    data-msg="Por favor ingrese una direccion de email valida"
                  />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Asunto"
                  data-rule="minlen:8"
                  data-msg="Por favor ingrese al menos 8 caracteres"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  rows="5"
                  data-rule="required"
                  data-msg="Por favor escriba su mensaje"
                  placeholder="Mensaje"
                ></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit" title="Send Message">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #contact -->
</main>
